.app-content {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: white;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1,
header form {
  margin: 10px 0 10px;
}

header h1 {
  margin-left: 30px;
}

header form {
  margin-right: 30px;
}

header form input {
  font-size: 1.25rem;
  padding: 5px;
}

header a {
  color: #fff;
  text-decoration: none;
}

/* CONTENT */
section {
  flex-grow: 1;
}

/* POST-ITEMS */
.post-items {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

/* POST-ITEM */
.post-item {
  display: flex;
  column-gap: 20px;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fafafa22;
  padding: 10px 20px;
  cursor: pointer;
  transition: all .2s ease-in;
}

.post-item:hover {
  background-color: #fff;
  color: #000;
}

.post-item h2 {
  font-size: 1.25rem;
}

.post-item .comments {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.post-item p {
  font-size: 1rem;
  margin: 0;  
}

.error {
  color: red;
  font-style: italic;
}

/* POST-PAGE */
.post-page {  
  padding: 20px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.post-page .post-head img {
  cursor: pointer;
  transition: all .5s ease-in;
}

.post-page .post-head img:hover {
  transform: scale(1.1);
}

.post-page .comments {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.post-page .comments p {
  margin: 0;
  padding: 0;
}

.post-page .comments .comment-item p {
  margin-bottom: 15px;
}

/* FOOTER */
footer p {
  font-size: .95rem;
}
